    <script>
    const labels = document.querySelector('thead#table-head')
   
    labels.remove()
    </script>
    
    
    <div class="jumbotron text-center my-6 py-5" >
        <div class="container"> 
            <h1 class="mb-3" style="font-size: 4em;"> No More BlueBooker's Remorse </h1> 
            <div class="row pt-1">
                <div class="col-9 mx-auto">
                    <p class="lead">
                        CourseTable just got a new best friend: we've created an algorithm to determine
                        the likelihood that a class is a gut, using something we call the Gut Index. Our 
                        algorithm also estimates how tough of a grader a professor is, class difficulty, and
                        percentile rankings for all of the qualifiers in our catalog. Check it out below!
                    </p>
                </div>
            </div>
            <div class="row pt-1">
                <div class="col-9 mx-auto">
                    <!-- the login route takes user to Google login -->
                    <a class="btn btn-lg btn-primary mr-2" href="/auth/google_oauth2" role="button" >Sign in with Yale Google Account</a>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-9 mx-auto">
                    <!-- the login route takes user to Google login -->
                    <h6><strong>A valid Yale email is required to access the catalog</strong></h6>
                </div>
            </div>
        </div>
    </div>